{{> menu active="about"}}

<section class="section">
    <section class="container">
        <section class="title pb-4">
            <p class="subtitle has-text-centered is-5">
                Playtime: Organize and manage your music
            </p>
        </section>
            <div class="card p-6 has-text-centered">
                <i class="fas fa-music fa-10x" style="color: #B197FC;"></i>
                <i class="fas fa-plus fa-6x" style="color: #63E6BE;"></i>
                <i class="fas fa-headphones fa-10x" style="color: #FFD43B;"></i>
            </div>        
    </section>
</section>
